{% load static %}                                   <!-- Sistema CEMEGA -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Centro Médico Galinos</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <!-- Scripts de Bootstrap y jQuery -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body>
<!-- Barra de Navegación~ -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3BB9CF;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><strong>CEMEGA</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto mb-lg-0">
                    <li class="nav-item me-2 mb-1">
                        <a href="{% url 'usuario_new' %}" class="btn btn-light rounded-circle" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 448 512">
                                <style>svg{fill:#000}</style>
                                <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item me-2 mb-1">
                        <a href="{% url 'horamedica_new' %}" class="btn btn-light rounded-pill" role="button">
                            Reserva tu Hora
                        </a>
                    </li>
                    <li class="nav-item me-2 mb-1">
                        <a href="#" class="btn btn-light rounded-pill" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                            </svg>
                            666 636 63636
                        </a>
                    </li>
                    <li class="nav-item me-2 mb-1">
                        <a href="#" class="btn btn-light rounded-pill" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                            </svg>
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    <div id="miCarrusel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/entrada.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/medicos.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/construccion.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#miCarrusel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        
        <button class="carousel-control-next" type="button" data-bs-target="#miCarrusel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endblock %}

    <section class="feature">
        <img src="{% static 'img/dentista.jpg' %}" alt="dentista">
        <div class="text">
            <h2>Nuevo sector en el centro medico</h2>
            <p>Es del agrado del centro Medico informar que contaremos con 
                nuevos sectores en la medicina, Dentro de poco contaremos con
                 dentistas experimentados.
            </p>
        </div>
    </section>

    <section class="feature">
        <img src="{% static 'img/sangre.jpg' %}" alt="Imagen 2">
        <div class="text">
            <h2>Te invitamos a donar sangre </h2>
            <p>¡Únete a nosotros para salvar vidas! Haz la diferencia hoy donando sangre y proporcionando esperanza a quienes lo necesitan. Tu contribución puede marcar la gran diferencia en la vida de alguien.</p>
        </div>
    </section>
    
</body>

</html>